@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Clash Display", sans-serif;
}

button:hover,
button:focus {
	outline: none;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active {
	outline: none;
	/* border: none; */
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.textClamp {
	font-size: clamp(2.5rem, 3vw + 1rem, 3.75rem);
}

/* SideNav */

.navItems > hr {
	display: block;
	width: 100%;
	color: black;
	border-color: black;
}

.carousel {
	animation: carouselAnimation 15s linear infinite;
}

@keyframes carouselAnimation {
	0% {
		left: -1100px;
	}
	100% {
		left: 1200px;
	}
}
