@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Clash Display", sans-serif;
}

img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.textClamp {
	font-size: clamp(2.5rem, 3vw + 1rem, 3.75rem);
}

/* WhyChoosePayBell */

/* .items > div {
	border-right: 1px solid #ffffff;
}
.items > div:last-child {
	border-right: none;
} */

/* SideNav */

.navItems > hr {
	display: block;
	width: 100%;
	color: black;
	border-color: black;
}
